.header {
  display: flex;
  justify-content: space-between;
  max-height: 7.5rem;

  &__logo {
    padding-top: 3rem;
  }

  .nav {
    padding-top: 2.7rem;

    &-list {
      display: flex;
      gap: 3rem;
    }
  }
}
