.left-col {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: hidden;
  max-width: 70.228rem;

  .description {
    position: relative;
    overflow-x: hidden;

    &__image {
      position: absolute;
      left: 43%;
      top: 0;
      max-height: fit-content;
    }
  }

  .description::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 46.217rem;
    height: 45.047rem;
    left: -5.695rem;
    top: 2.5rem;
    background-color: var(--big-circle-color);
    z-index: -1;
  }
}

.right-col {
  border-radius: 18px;
  box-shadow: 0px 4px 4px var(--drop-shadow-color);
  position: relative;
  overflow: hidden;
  width: fit-content;
  height: fit-content;

  &__image {
    object-fit: cover;
    width: 100%;
    height: -webkit-fill-available;
    border-radius: inherit;

    &--medium {
      position: absolute;
      left: 25%;
      top: 0;
      max-height: 30%;
    }
  }
}
