* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background-color;
  font-family: 'SF Compact Display Medium';
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 160rem;
  height: 100%;
  overflow-x: hidden;
}
