:root {
  --background-color: #dbeeee;
  --link-color: #3d9090;
  --link-color-shade: #255656;
  --black: #000000;
  --line-color: #c4c4c4;
  --big-circle-color: #e4d7b9;
  --lamp-select-bg-color: #bddddd;
  --lamp-select-active-bg-color: rgba(255, 255, 255, 0.5);
  --lamp-select-bg-hover-color: rgba(255, 255, 255, 0.25);
  --sun-toggle-bg-color: #fff3da;
  --moon-toggle-bg-color: #94a6a6;
  --drop-shadow-color: rgba(0, 0, 0, 0.25);
}
