@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'),
    url('../../assets/font/sf-compact-display-thin-58646eb43a785.woff')
      format('woff');
}

@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'),
    url('../../assets/font/sf-compact-display-medium-5864711817c30.woff')
      format('woff');
}

$font: 'SF Compact Display';
