@use '../util';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: util.$font;
}

ul {
  list-style: none;
}
