*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: sans-serif;
  height: 100vh;
}

ul {
  list-style: none;
}
